.review-list-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    width: 100vw;
}
.review-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin-top: -20px;
    padding-bottom: 20px;
    box-shadow: 10px 10px 30px 0px rgba(150,150,150,.5);
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 10px 10px 30px -5px rgb(50,50,50);
}

/* This following empty <p> is used to maintain centering of the heading within the header 
using flexbox and space-between and also push the close button to the right side of the container*/

.review-list-header::before {
    content: '<p></p>';
    visibility: hidden;
}

.review-list-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background: #cca353;
    padding: 10px;
}

.review-list-header button {
    flex-basis: 1;
    font-size: .88rem;
    background: transparent;
    border: none;
}

.review-list-header button:hover {
    cursor: pointer;
    color: #fff;
}

.review-list h2 {
    font-size: 2rem;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 500px) {
    .review-list {
        width: 90%;
    }
}
